body{
    font-family: monospace;
}
ul{
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none !important;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
}
ul a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-size: 19px;
    font-weight: 100;
    font-family: monospace;
}
ul.nav-link:hover{
    text-decoration: none;
}
ul .nav-link:hover, .nav-link:focus {
    text-decoration: none !important;
    background: #06023a26;
    border-left: 4px solid #000752;
}
ul a:hover{
    text-decoration: none;
    color: #000;
}
ul .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    height: 58px;
    text-align: -webkit-left;
}
.navbar__brand img {
    vertical-align: middle;
    border-style: none;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    border-radius: 50px;
}
.navbar__brand span {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    color: #e6d5ff;
}
.navbar-brand {
    color: rgba(2, 0, 2, 0.75);
    font-size: 30px !important;
    font-weight: 700;
    font-family: cursive;
}
.home__bg__style {
    background-image: url(/image/background0.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 546px;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.content_bg_style{
    background-image: url(/image/background0.jpg);
    background-size: 100% 100%;
    
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 15px;
}
.home__text__style {
    color: aliceblue;
    /* text-align: center; */
    margin: 0px 50px;
    line-height: 80px;
    font-family: monospace;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(20, 6, 6, 0.35) !important;
}

.bg-info {
    background-color: #00194ee3 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #feffff !important;
    background-color: #f9f9f90f !important;
    background-clip: padding-box;
    border: 1px solid #0178ef !important;
    border-radius: none !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.about__text span {
    font-size: 19px;
    color: #034efd;
    font-weight: 600;
}
.media__style i {
    border: 1px solid #cac9c9;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0 10px;
    padding: 2px;
}
.media__style i:hover {
    background: #056ddc;
    color: #fff;
}
.media__style .btn-outline-danger {
    color: #dc3545;
    border-radius: 30px;
    border-color: #dc3545;
}
.service__style span {
    font-size: 20px;
    border-left: 3px solid #0321f5;
    padding: 12px;
    background: #ababab2e;
    display: block;
}
.bg__color {
    background-color: #0c5460 !important;
}







.side_nav_style {
    background: #0c5460;
    height: 100%;
    width: 230px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    padding-top: 35px;
    color: #fff;
}
.side_nav_style ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}



.side_nav_style ul li a {
    text-decoration: none;
    color: #f1d8f1;
    font-size: 18px;
    font-family: monospace;
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px;
}
.side_nav_style ul li a:hover,:focus {
    text-decoration: none !important;
    background: #06023a26;
    border-left: 4px solid #000752;
}


@media (max-width: 1023px){
    .side_nav_style ul li a:hover {
        text-decoration: none;
        background:none;
}}
@media (max-width: 1023px){
.side_nav_style {
    height: 50px;
    width: 100%;
    position: fixed;
}}
@media (max-width: 1023px){
    .side_nav_style ul li {
        display: inline-block
    }}
@media (max-width: 1023px){
    .side_nav_style ul li span{
        display: none;
 }}

 @media (max-width: 1023px){
ul li a {
    border-left: none;
    text-decoration: none;
    height: 4px;
    padding: 10px;
    width: 80px;
    font-size: 27px;
    line-height: 36px;
    position: relative;
    display: block;
    font-size: 50px;
    color: #000
}}
@media (max-width: 1023px){
    ul li a:hover {
        text-decoration: none;
        
}}
.side_nav_style span {
    font-size: 18px;
    color: #ecd7f5;
    font-family: initial;
    padding: 0 13px;
}

.services i {
    color: aqua;
}
.services span {
    font-size: 28px;
    /* padding: 0 50px; */
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6f6d6d17 !important;
    background-clip: border-box;
    border: 1px solid rgba(222, 222, 222, 0.125) !important;
    border-radius: 0.25rem;
}

#sub-frame-error:hover {
    background-color: #EEE;
}
#sub-frame-error {
    -webkit-align-items: center;
    background-color: #DDD;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    height: 100%;
    -webkit-justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: background-color .2s ease-in-out;
    width: 100%;
}
.form-group {
    position: relative;
}
.form-group i{
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 19px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #feffff !important;
    background-color: #f9f9f90f !important;
    background-clip: padding-box;
    border: 1px solid #e2e3e4 !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.resume_img img {
    height: 200px;
    margin: 10px;
    background: aqua;
    padding: 5px;
    border-radius: 5px;
}